Copyright 2024 Patrick Riley <patriley@gmail.com>

In [57]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [58]:
import numpy as np

import pennydropsolver

In [62]:
def run_from_state(world, state):
    rng = np.random.default_rng()
    while not world.is_state_terminal(state):
        display(state)
        act = rng.choice(world.allowed_actions(state))
        all_outcomes = list(world.do_action(state, act))
        #display(all_outcomes)
        outcome_idx = rng.choice(range(len(all_outcomes)), p=[o.prob for o in all_outcomes])
        outcome = all_outcomes[outcome_idx]
        display(act, outcome)
        state = outcome.next_state

In [63]:
world = pennydropsolver.GameModel(num_players=2, num_spots=6)

In [64]:
run_from_state(world, pennydropsolver.GameState(num_out=0, player=0, is_first=True))

GameState(num_out=0, player=0, is_first=True)

ActionResult(prob=0.16666666666666666, reward=-1, next_state=GameState(num_out=0, player=0, is_first=False))

GameState(num_out=0, player=0, is_first=False)

ActionResult(prob=0.8333333333333334, reward=-1, next_state=GameState(num_out=1, player=0, is_first=False))

GameState(num_out=1, player=0, is_first=False)

ActionResult(prob=1.0, reward=0, next_state=GameState(num_out=1, player=1, is_first=True))

GameState(num_out=1, player=1, is_first=True)

ActionResult(prob=0.16666666666666666, reward=0, next_state=GameState(num_out=-1, player=-1, is_first=False))

In [65]:
run_from_state(world, pennydropsolver.GameState(num_out=0, player=1, is_first=True))

GameState(num_out=0, player=1, is_first=True)

ActionResult(prob=0.8333333333333334, reward=0, next_state=GameState(num_out=1, player=1, is_first=False))

GameState(num_out=1, player=1, is_first=False)

ActionResult(prob=0.6666666666666667, reward=0, next_state=GameState(num_out=2, player=1, is_first=False))

GameState(num_out=2, player=1, is_first=False)

ActionResult(prob=1.0, reward=0, next_state=GameState(num_out=2, player=0, is_first=True))

GameState(num_out=2, player=0, is_first=True)

ActionResult(prob=0.5000000000000001, reward=-1, next_state=GameState(num_out=3, player=0, is_first=False))

GameState(num_out=3, player=0, is_first=False)

ActionResult(prob=0.5, reward=3, next_state=GameState(num_out=-1, player=-1, is_first=False))

In [116]:
def solve_world(world):
    value_table = pennydropsolver.ValueTable(world)
    value_table.full_iterative_value_updates()
    df = value_table.to_dataframe()
    print("\nThe value of the actions for the places you actually have a choice")
    display(df[(df["player"] == 0 ) & (~df["is_first"])])
    print("\nThe value when you are first passed the box")
    display(df[(df["player"] == 0 ) & df["is_first"]])
    print("\nThe value to you when you pass the box to teh next player")
    display(df[(df["player"] == 1) & (df["is_first"])])

# Players 2, 6 spots

In [118]:
world = pennydropsolver.GameModel(num_players=2, num_spots=6)

solve_world(world)

total_abs_change=18.0 max_abs_change=4.0
total_abs_change=5.333333333333335 max_abs_change=1.0555555555555558
total_abs_change=3.962962962962964 max_abs_change=1.0555555555555558
total_abs_change=3.6728395061728407 max_abs_change=0.5092592592592594
total_abs_change=1.9207818930041154 max_abs_change=0.31430041152263377
total_abs_change=1.5516117969821677 max_abs_change=0.2600737311385459
total_abs_change=1.0763603109282116 max_abs_change=0.15432098765432123
total_abs_change=0.49821387745770485 max_abs_change=0.07394547325102885
total_abs_change=0.2880071000355632 max_abs_change=0.06228348225626168
total_abs_change=0.14558473153651974 max_abs_change=0.028110492715795354
total_abs_change=0.057086196421616386 max_abs_change=0.0090669809624917
total_abs_change=0.026129256499074827 max_abs_change=0.006206341248075953
total_abs_change=0.011181091588326364 max_abs_change=0.0024777300471441333
total_abs_change=0.003998103924342189 max_abs_change=0.000763646683280994
total_abs_change=0.001624970071490539 max_abs_change=0.0004041907764695818
total_abs_change=0.0006355971042679709 max_abs_change=0.00014992913706812772
total_abs_change=0.00021548752510303082 max_abs_change=4.4817405139951916e-05
total_abs_change=8.18855234767657e-05 max_abs_change=2.0909419456982548e-05
total_abs_change=3.0363492933949132e-05 max_abs_change=7.4140423420576695e-06
total_abs_change=9.957658200221431e-06 max_abs_change=2.1720575362760286e-06
total_abs_change=3.6285564817273297e-06 max_abs_change=9.419527926546323e-07
total_abs_change=1.2998600020797113e-06 max_abs_change=3.2429587171201035e-07
total_abs_change=4.169165831457988e-07 max_abs_change=9.370769160632619e-08
total_abs_change=1.477028207519382e-07 max_abs_change=3.877299525889555e-08
total_abs_change=5.166719452276425e-08 max_abs_change=1.3078893301710082e-08
total_abs_change=1.6313121520283858e-08 max_abs_change=3.7421952203686715e-09
total_abs_change=5.664514191039416e-09 max_abs_change=1.4988990049147333e-09

The value of the actions for the places you actually have a choice

    state_idx  num_out  player  is_first       action     value
2           2        0       0     False  Action.ROLL -1.453197
3           2        0       0     False  Action.PASS  0.751117
8           6        1       0     False  Action.ROLL -0.253197
9           6        1       0     False  Action.PASS  0.751117
14         10        2       0     False  Action.ROLL  0.683503
15         10        2       0     False  Action.PASS  0.938897
20         14        3       0     False  Action.ROLL  1.564828
21         14        3       0     False  Action.PASS  1.139172
26         18        4       0     False  Action.ROLL  2.635102
27         18        4       0     False  Action.PASS  1.124898
32         22        5       0     False  Action.ROLL  4.114286
33         22        5       0     False  Action.PASS  0.685714

The value when you are first passed the box

    state_idx  num_out  player  is_first       action     value
1           1        0       0      True  Action.ROLL -1.453197
7           5        1       0      True  Action.ROLL -0.253197
13          9        2       0      True  Action.ROLL  0.683503
19         13        3       0      True  Action.ROLL  1.564828
25         17        4       0      True  Action.ROLL  2.635102
31         21        5       0      True  Action.ROLL  4.114286

The value to you when you pass the box to teh next player

    state_idx  num_out  player  is_first       action     value
4           3        0       1      True  Action.ROLL  0.751117
10          7        1       1      True  Action.ROLL  0.751117
16         11        2       1      True  Action.ROLL  0.938897
22         15        3       1      True  Action.ROLL  1.139172
28         19        4       1      True  Action.ROLL  1.124898
34         23        5       1      True  Action.ROLL  0.685714

# Players 2, 6 spots, original action choice

First version of actions was having other players maximize the number of pennies for player, not minimize their own.

In [83]:
world = pennydropsolver.GameModel(num_players=2, num_spots=6)
value_table = pennydropsolver.ValueTable(world)

In [84]:
value_table.full_iterative_value_updates()

total_abs_change=18.0 max_abs_change=4.0
total_abs_change=5.333333333333335 max_abs_change=1.0555555555555558
total_abs_change=3.962962962962964 max_abs_change=1.0555555555555558
total_abs_change=3.6728395061728407 max_abs_change=0.5092592592592594
total_abs_change=1.9207818930041154 max_abs_change=0.31430041152263377
total_abs_change=1.5516117969821677 max_abs_change=0.2600737311385459
total_abs_change=1.0763603109282116 max_abs_change=0.15432098765432123
total_abs_change=0.49821387745770485 max_abs_change=0.07394547325102885
total_abs_change=0.2880071000355632 max_abs_change=0.06228348225626168
total_abs_change=0.14558473153651974 max_abs_change=0.028110492715795354
total_abs_change=0.057086196421616386 max_abs_change=0.0090669809624917
total_abs_change=0.026129256499074827 max_abs_change=0.006206341248075953
total_abs_change=0.011181091588326364 max_abs_change=0.0024777300471441333
total_abs_change=0.003998103924342189 max_abs_change=0.000763646683280994
total_abs_change=0.001624970071490539 max_abs_change=0.0004041907764695818
total_abs_change=0.0006355971042679709 max_abs_change=0.00014992913706812772
total_abs_change=0.00021548752510303082 max_abs_change=4.4817405139951916e-05
total_abs_change=8.18855234767657e-05 max_abs_change=2.0909419456982548e-05
total_abs_change=3.0363492933949132e-05 max_abs_change=7.4140423420576695e-06
total_abs_change=9.957658200221431e-06 max_abs_change=2.1720575362760286e-06
total_abs_change=3.6285564817273297e-06 max_abs_change=9.419527926546323e-07
total_abs_change=1.2998600020797113e-06 max_abs_change=3.2429587171201035e-07
total_abs_change=4.169165831457988e-07 max_abs_change=9.370769160632619e-08

In [85]:
df = value_table.to_dataframe()
df.sample(3)

    state_idx  num_out  player  is_first       action     value
25         17        4       0      True  Action.ROLL  2.635102
32         22        5       0     False  Action.ROLL  4.114286
28         19        4       1      True  Action.ROLL  1.124898

In [86]:
df[(df["player"] == 0 ) & (~df["is_first"])]

    state_idx  num_out  player  is_first       action     value
2           2        0       0     False  Action.ROLL -1.453197
3           2        0       0     False  Action.PASS  0.751117
8           6        1       0     False  Action.ROLL -0.253197
9           6        1       0     False  Action.PASS  0.751117
14         10        2       0     False  Action.ROLL  0.683503
15         10        2       0     False  Action.PASS  0.938897
20         14        3       0     False  Action.ROLL  1.564828
21         14        3       0     False  Action.PASS  1.139172
26         18        4       0     False  Action.ROLL  2.635102
27         18        4       0     False  Action.PASS  1.124898
32         22        5       0     False  Action.ROLL  4.114286
33         22        5       0     False  Action.PASS  0.685714

# Players 3, 6 spots

In [119]:
world = pennydropsolver.GameModel(num_players=3, num_spots=6)
solve_world(world)

total_abs_change=18.0 max_abs_change=4.0
total_abs_change=5.333333333333335 max_abs_change=1.0555555555555558
total_abs_change=3.962962962962964 max_abs_change=1.0555555555555558
total_abs_change=2.765432098765433 max_abs_change=0.5092592592592594
total_abs_change=2.055555555555556 max_abs_change=0.5092592592592594
total_abs_change=1.911351165980797 max_abs_change=0.2623456790123458
total_abs_change=1.0228623685413814 max_abs_change=0.16973879743941478
total_abs_change=0.7367684042066758 max_abs_change=0.14137398071940255
total_abs_change=0.4149861238124277 max_abs_change=0.07071398065589629
total_abs_change=0.18209426704939854 max_abs_change=0.025243865264441334
total_abs_change=0.09831327848481686 max_abs_change=0.015211810318548902
total_abs_change=0.04189122563699399 max_abs_change=0.007409100916188183
total_abs_change=0.021980721671321368 max_abs_change=0.004109055302440545
total_abs_change=0.009975213249800774 max_abs_change=0.0019484137393841472
total_abs_change=0.003745810661283322 max_abs_change=0.0006393651091838315
total_abs_change=0.001635377691528106 max_abs_change=0.00023956613608483446
total_abs_change=0.0006211779836620135 max_abs_change=0.00010881632055126378
total_abs_change=0.0002854519058009819 max_abs_change=5.360485601402232e-05
total_abs_change=0.00011880872495931283 max_abs_change=2.3959718168597988e-05
total_abs_change=4.20787076870488e-05 max_abs_change=7.716070535623842e-06
total_abs_change=1.693036991923247e-05 max_abs_change=2.4291269390408488e-06
total_abs_change=6.1107443038999065e-06 max_abs_change=1.0596243690264018e-06
total_abs_change=2.6402356376742375e-06 max_abs_change=4.982337249437307e-07
total_abs_change=1.053153484489866e-06 max_abs_change=2.1532501470744592e-07
total_abs_change=3.6229635931583903e-07 max_abs_change=6.856293777168787e-08
total_abs_change=1.3987464975162567e-07 max_abs_change=1.9863252487262173e-08
total_abs_change=4.911182771571987e-08 max_abs_change=8.459203171273799e-09
total_abs_change=2.0501333408695643e-08 max_abs_change=3.8821386105780675e-09
total_abs_change=7.978459656832193e-09 max_abs_change=1.6435961480709693e-09

The value of the actions for the places you actually have a choice

    state_idx  num_out  player  is_first       action     value
2           2        0       0     False  Action.ROLL -1.749040
3           2        0       0     False  Action.PASS  0.478744
11         10        1       0     False  Action.ROLL -0.549040
12         10        1       0     False  Action.PASS  0.478744
20         18        2       0     False  Action.ROLL  0.313700
21         18        2       0     False  Action.PASS  0.598430
29         26        3       0     False  Action.ROLL  1.183782
30         26        3       0     False  Action.PASS  0.522834
38         34        4       0     False  Action.ROLL  2.400260
39         34        4       0     False  Action.PASS  0.289930
47         42        5       0     False  Action.ROLL  4.018605
48         42        5       0     False  Action.PASS  0.111628

The value when you are first passed the box

    state_idx  num_out  player  is_first       action     value
1           1        0       0      True  Action.ROLL -1.749040
10          9        1       0      True  Action.ROLL -0.549040
19         17        2       0      True  Action.ROLL  0.313700
28         25        3       0      True  Action.ROLL  1.183782
37         33        4       0      True  Action.ROLL  2.400260
46         41        5       0      True  Action.ROLL  4.018605

The value to you when you pass the box to teh next player

    state_idx  num_out  player  is_first       action     value
4           3        0       1      True  Action.ROLL  0.478744
13         11        1       1      True  Action.ROLL  0.478744
22         19        2       1      True  Action.ROLL  0.598430
31         27        3       1      True  Action.ROLL  0.522834
40         35        4       1      True  Action.ROLL  0.289930
49         43        5       1      True  Action.ROLL  0.111628

# Players 4, 6 spots

In [120]:
world = pennydropsolver.GameModel(num_players=4, num_spots=6)
solve_world(world)

total_abs_change=18.0 max_abs_change=4.0
total_abs_change=5.333333333333335 max_abs_change=1.0555555555555558
total_abs_change=3.962962962962964 max_abs_change=1.0555555555555558
total_abs_change=2.765432098765433 max_abs_change=0.5092592592592594
total_abs_change=2.055555555555556 max_abs_change=0.5092592592592594
total_abs_change=1.6459190672153643 max_abs_change=0.2623456790123458
total_abs_change=1.038351623228167 max_abs_change=0.18055555555555558
total_abs_change=0.8366626657521734 max_abs_change=0.14146090534979433
total_abs_change=0.4200674439871984 max_abs_change=0.07073045267489717
total_abs_change=0.26652070737861905 max_abs_change=0.0501512448877206
total_abs_change=0.13640412782180905 max_abs_change=0.025076592683265897
total_abs_change=0.05565329982538059 max_abs_change=0.008358949674975635
total_abs_change=0.026386788296074853 max_abs_change=0.0037607802418330727
total_abs_change=0.010975689946061767 max_abs_change=0.0018705499087621758
total_abs_change=0.005764038174130626 max_abs_change=0.0009052995181967338
total_abs_change=0.0024102475405254897 max_abs_change=0.0004473437623484511
total_abs_change=0.0012123075967226393 max_abs_change=0.00020656174512256875
total_abs_change=0.0005289999512644444 max_abs_change=0.0001013996617547086
total_abs_change=0.00019225094904641582 max_abs_change=3.36257010244978e-05
total_abs_change=7.810259840107178e-05 max_abs_change=9.603260497481614e-06
total_abs_change=2.906564065418768e-05 max_abs_change=4.661709222752997e-06
total_abs_change=1.3384527706439275e-05 max_abs_change=1.9870941916355633e-06
total_abs_change=5.233791159686696e-06 max_abs_change=9.602055647817132e-07
total_abs_change=2.437000236499287e-06 max_abs_change=4.0276937229855037e-07
total_abs_change=1.008199276952837e-06 max_abs_change=1.9385488125855943e-07
total_abs_change=3.5269557097095117e-07 max_abs_change=6.392118634401811e-08
total_abs_change=1.3580091920081805e-07 max_abs_change=1.7670692686877487e-08
total_abs_change=4.845524856009198e-08 max_abs_change=7.536971879940069e-09
total_abs_change=2.113530561675958e-08 max_abs_change=3.0578797272085012e-09
total_abs_change=8.016347974315607e-09 max_abs_change=1.4582708374177855e-09

The value of the actions for the places you actually have a choice

    state_idx  num_out  player  is_first       action     value
2           2        0       0     False  Action.ROLL -1.912987
3           2        0       0     False  Action.PASS  0.245981
14         10        1       0     False  Action.ROLL -0.712987
15         10        1       0     False  Action.PASS  0.245981
26         18        2       0     False  Action.ROLL  0.108766
27         18        2       0     False  Action.PASS  0.307476
38         26        3       0     False  Action.ROLL  1.052368
39         26        3       0     False  Action.PASS  0.181277
50         34        4       0     False  Action.ROLL  2.347500
51         34        4       0     False  Action.PASS  0.066467
62         42        5       0     False  Action.ROLL  4.003089
63         42        5       0     False  Action.PASS  0.018533

The value when you are first passed the box

    state_idx  num_out  player  is_first       action     value
1           1        0       0      True  Action.ROLL -1.912987
13          9        1       0      True  Action.ROLL -0.712987
25         17        2       0      True  Action.ROLL  0.108766
37         25        3       0      True  Action.ROLL  1.052368
49         33        4       0      True  Action.ROLL  2.347500
61         41        5       0      True  Action.ROLL  4.003089

The value to you when you pass the box to teh next player

    state_idx  num_out  player  is_first       action     value
4           3        0       1      True  Action.ROLL  0.245981
16         11        1       1      True  Action.ROLL  0.245981
28         19        2       1      True  Action.ROLL  0.307476
40         27        3       1      True  Action.ROLL  0.181277
52         35        4       1      True  Action.ROLL  0.066467
64         43        5       1      True  Action.ROLL  0.018533

# Players 2, 10 spots

In [121]:
world = pennydropsolver.GameModel(num_players=2, num_spots=10)
solve_world(world)

total_abs_change=54.800000000000004 max_abs_change=8.0
total_abs_change=12.14 max_abs_change=1.7000000000000004
total_abs_change=10.399999999999999 max_abs_change=1.7000000000000004
total_abs_change=8.9044 max_abs_change=0.8400000000000001
total_abs_change=4.02224 max_abs_change=0.4870000000000001
total_abs_change=3.306595999999999 max_abs_change=0.4870000000000001
total_abs_change=3.1789084000000014 max_abs_change=0.3124220000000001
total_abs_change=1.8711786400000006 max_abs_change=0.21679416000000012
total_abs_change=1.242553296 max_abs_change=0.1858626160000001
total_abs_change=0.9190338039999948 max_abs_change=0.1793916494000003
total_abs_change=0.4802863085599972 max_abs_change=0.06667300079999994
total_abs_change=0.2492266895039995 max_abs_change=0.036332584599999995
total_abs_change=0.1384709162744 max_abs_change=0.036229669083799765
total_abs_change=0.05876724734336025 max_abs_change=0.012568983101900022
total_abs_change=0.020155407122040003 max_abs_change=0.003050718228431948
total_abs_change=0.009130567851361349 max_abs_change=0.0023148059486752803
total_abs_change=0.0034869935936681085 max_abs_change=0.0007932200867593053
total_abs_change=0.0010822788583997323 max_abs_change=0.00018910231668711752
total_abs_change=0.00042085419186377315 max_abs_change=0.00010966591479366627
total_abs_change=0.00014468856600169389 max_abs_change=3.546195930836937e-05
total_abs_change=4.141512934840996e-05 max_abs_change=8.281919117836267e-06
total_abs_change=1.4329627487708052e-05 max_abs_change=3.837117291904946e-06
total_abs_change=4.547857601400196e-06 max_abs_change=1.1688163423784204e-06
total_abs_change=1.2293436064680918e-06 max_abs_change=2.668810099581975e-07
total_abs_change=3.9224515124836046e-07 max_abs_change=1.0713387732508295e-07
total_abs_change=1.1746639660970004e-07 max_abs_change=3.11322772006406e-08
total_abs_change=3.047333185790535e-08 max_abs_change=6.975520827623427e-09
total_abs_change=9.176186588355506e-09 max_abs_change=2.54305732028115e-09

The value of the actions for the places you actually have a choice

    state_idx  num_out  player  is_first       action     value
2           2        0       0     False  Action.ROLL -1.464209
3           2        0       0     False  Action.PASS  0.968840
8           6        1       0     False  Action.ROLL -0.353098
9           6        1       0     False  Action.PASS  0.968840
14         10        2       0     False  Action.ROLL  0.602765
15         10        2       0     False  Action.PASS  1.089945
20         14        3       0     False  Action.ROLL  1.346412
21         14        3       0     False  Action.PASS  1.401358
26         18        4       0     False  Action.ROLL  2.102037
27         18        4       0     False  Action.PASS  1.686285
32         22        5       0     False  Action.ROLL  2.952163
33         22        5       0     False  Action.PASS  1.866818
38         26        6       0     False  Action.ROLL  3.929003
39         26        6       0     False  Action.PASS  1.913704
44         30        7       0     False  Action.ROLL  5.069345
45         30        7       0     False  Action.PASS  1.792109
50         34        8       0     False  Action.ROLL  6.425875
51         34        8       0     False  Action.PASS  1.450668
56         38        9       0     False  Action.ROLL  8.080808
57         38        9       0     False  Action.PASS  0.808081

The value when you are first passed the box

    state_idx  num_out  player  is_first       action     value
1           1        0       0      True  Action.ROLL -1.464209
7           5        1       0      True  Action.ROLL -0.353098
13          9        2       0      True  Action.ROLL  0.602765
19         13        3       0      True  Action.ROLL  1.346412
25         17        4       0      True  Action.ROLL  2.102037
31         21        5       0      True  Action.ROLL  2.952163
37         25        6       0      True  Action.ROLL  3.929003
43         29        7       0      True  Action.ROLL  5.069345
49         33        8       0      True  Action.ROLL  6.425875
55         37        9       0      True  Action.ROLL  8.080808

The value to you when you pass the box to teh next player

    state_idx  num_out  player  is_first       action     value
4           3        0       1      True  Action.ROLL  0.968840
10          7        1       1      True  Action.ROLL  0.968840
16         11        2       1      True  Action.ROLL  1.089945
22         15        3       1      True  Action.ROLL  1.401358
28         19        4       1      True  Action.ROLL  1.686285
34         23        5       1      True  Action.ROLL  1.866818
40         27        6       1      True  Action.ROLL  1.913704
46         31        7       1      True  Action.ROLL  1.792109
52         35        8       1      True  Action.ROLL  1.450668
58         39        9       1      True  Action.ROLL  0.808081

# Attic

In [105]:
df = value_table.to_dataframe()
(df
 [(df["player"] == 0 ) & (~df["is_first"])]
 .set_index(["num_out", "action"])
 [["value", "state_idx"]]
)

                        value  state_idx
num_out action
0       Action.ROLL -1.464209          2
        Action.PASS  0.968840          2
1       Action.ROLL -0.353098          6
        Action.PASS  0.968840          6
2       Action.ROLL  0.602765         10
        Action.PASS  1.089945         10
3       Action.ROLL  1.346412         14
        Action.PASS  1.401358         14
4       Action.ROLL  2.102037         18
        Action.PASS  1.686285         18
5       Action.ROLL  2.952163         22
        Action.PASS  1.866818         22
6       Action.ROLL  3.929003         26
        Action.PASS  1.913704         26
7       Action.ROLL  5.069345         30
        Action.PASS  1.792109         30
8       Action.ROLL  6.425875         34
        Action.PASS  1.450668         34
9       Action.ROLL  8.080808         38
        Action.PASS  0.808081         38